@import "tailwindcss";

@theme inline {
  --color-background: #0f0f0f;
  --color-foreground: #ededed;
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

.container {
  background: var(--color-background);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
