@import "tailwindcss";

@theme inline {
  --color-background: #0f0f0f;
  --color-foreground: #ededed;
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
